<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Crear Persona</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Crear Persona</h1>
  <form action="/personas" method="post">
    <label for="nombres">Nombres:</label>
    <input type="text" id="nombres" name="nombres" required>
    <br>
    <label for="apellidos">Apellidos:</label>
    <input type="text" id="apellidos" name="apellidos" required>
    <br>
    <label for="pais">País:</label>
    <input type="text" id="pais" name="pais" required>
    <br>
    <br>
    <button type="submit">Crear</button>
  </form>
</body>
</html>
