<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Personas</title>
</head>
<body>
  <h1>Personas</h1>
  <table border="1">
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Pais</th>
      <th>Acciones</th>
    </tr>
    <tr th:each="persona : ${personas}">
      <td>[[${persona.nombres}]]</td>
      <td>[[${persona.apellidos}]]</td>
      <td>[[${persona.pais}]]</td>
      <td>
        <a href="/personas/editar/[[${persona.id}]]">Editar</a>
        <a href="/personas/eliminar/[[${persona.id}]]">Eliminar</a>
      </td>
    </tr>
  </table>
</body>
</html>
