<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Listado de Personas</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
</head>
<body>
    <div class="container">
        <div class="card">
            <h5 class="card-header">Personas</h5>
            <div class="card-body">
                <table id="personas" class="display">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Apellidos</th>
                            <th>Pais</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Aquí se mostrarán las filas de personas utilizando DataTables -->
                    </tbody>
                </table>
            </div>
        </div>

        <button class="btn btn-primary" id="createPersonaButton" data-toggle="modal" data-target="#personaModal">Nueva Persona</button>
        <button class="btn btn-danger" id="deletePersonaButton">Eliminar Persona</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script src="app.js"></script>
</body>
</html>
